<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta title="HomePage">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <p>{{help}}</p>
    </body>
</html>